@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600&display=swap');

* {
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
    color: #272727;
    margin: 0;
    padding: 0;
}

.title-section h1 {
    font-weight: 700;
    font-size: 4rem;
}

.title-section h3 {
    font-size: 1.7rem;
}

.title-section {
    width: 50%;
    margin: 12.5rem auto 0 auto;
    text-align: center;
}

form, .button-section {
    text-align: center;
}

textarea {
    border: 2px solid rgb(133, 133, 133);
    border-radius: 4px;
    padding: 12px 8px;
    font-size: 1rem;
    margin: 5rem auto 3rem auto;
    width: 35rem;
    height: 10rem;
    resize: none;
}

button {
    font-size: 1rem;
    width: 8rem;
    height: 4rem;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}