@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600&display=swap');

* {
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
    color: #272727;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.title-section h1 {
    font-weight: 600;
    font-size: 4rem;
}

.title-section h3 {
    font-size: 1.8rem;
}

svg {
    fill: #272727;
}

.title-section {
    width: 50%;
    margin: 12.5rem auto 0 auto;
    text-align: center;
}

.title-row {
    display: inline-flex;
}

form, .button-section {
    text-align: center;
}

textarea {
    border: 2px solid #646464;
    border-radius: 4px;
    padding: 12px 8px;
    font-size: 1rem;
    margin: 5rem 0 3rem 0;
    width: 35rem;
    height: 10rem;
    resize: none;
}

#nextButton {
    display: none;
}

#confessMessage {
    display: none;
}

button {
    background-color: #d6d6d6;
    transition: ease 0.3s;
    font-size: 1rem;
    width: 10rem;
    height: 5rem;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #b6b6b6;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 15rem;
    background-color: #272727;
    color: #fff;
    border-radius: 3px;
    padding: 6px 10px 10px 10px;
    text-align: left;

    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext h4 {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
}

.tooltip .tooltiptext p, .tooltip .tooltiptext i {
    color: #fff;
}

.tooltip:hover .tooltiptext, .tooltip:active .tooltiptext {
    visibility: visible;
}

footer {
    height: 2rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin: 0 2rem 0rem 2rem;
    display: inline;
}

footer ul li a {
    text-decoration: none;
}

@media screen and (max-width: 800px) {

    svg {
        width: 18px;
        height: 18px;
    }

    .title-section {
        margin: 4rem auto 0 auto;
        width: 80%;
    }

    textarea {
        font-size: 0.8rem;
        width: 18rem;
        height: 10rem;
    }

    .title-section h1 {
        font-weight: 600;
        font-size: 2.2rem;
    }
    
    .title-section h3 {
        font-size: 1rem;
    }

    .tooltip .tooltiptext {
        left: 50%; 
        top: 25%;
        margin-left: -8rem;
        font-size: 0.8rem;
    }

    .tooltip .tooltiptext h4 {
        font-size: 1rem;
    }

    button {
        width: 10rem;
        height: 4rem;
    }

    footer ul li a {
        font-size: 0.6rem;
    }
}

::selection {
    background: #b6b6b6;
  }
::-moz-selection {
    background: #b6b6b6;
}